﻿﻿@{
    ViewBag.Titulo = "Visualização de Prescrições";
}

@model VisualizarPrescricoesViewModel;

<a class="btn btn-primary" asp-action="Cadastrar">
    <i class="bi bi-plus"></i>
    Cadastrar novo/a
</a>

<div class="row g-3 mt-4">
    @foreach (DetalhesPrescricaoViewModel d in Model.Registros)
    {
        <div class="col-md-4 col-lg-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">@d.Descricao</h5>
                    <p class="card-text mb-0"><strong>Paciente:</strong> @d.Paciente</p>
                    <p class="card-text mb-0"><strong>CRM do Médico:</strong> @d.CrmMedico</p>
                    <p class="card-text mb-0"><strong>Data de Emissão:</strong> @d.DataEmissao.ToShortDateString()</p>
                    <p class="card-text mb-0"><strong>Data de Validade:</strong> @d.DataValidade.ToShortDateString()</p>
                </div>
                <div class="card-actions ms-auto me-3 mb-3 d-flex gap-1">
                    <a class="btn btn-sm btn-primary rounded-circle d-flex justify-content-center align-items-center"
                       style="height: 35px; width: 35px;"
                       asp-action="Gerenciar"
                       asp-route-id="@d.Id">
                        <i class="bi bi-clipboard"></i>
                    </a>
                    <a class="btn btn-sm btn-danger rounded-circle d-flex justify-content-center align-items-center"
                       style="height: 35px; width: 35px;"
                       asp-action="Excluir"
                       asp-route-id="@d.Id">
                        <i class="bi bi-trash2"></i>
                    </a>
                </div>
            </div>
        </div>
    }
</div>